* text=auto !eol
Adventura115/manifest.mf -text
Adventura115/nbproject/build-impl.xml -text
Adventura115/nbproject/genfiles.properties -text
Adventura115/nbproject/private/config.properties -text
Adventura115/nbproject/private/private.properties -text
Adventura115/nbproject/project.properties -text
Adventura115/nbproject/project.xml -text
Adventura115/src/cz/package.bluej -text
Adventura115/src/cz/vse/_115/package.bluej -text
Adventura115/src/cz/vse/_115/ut1245/package.bluej -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/ACommand.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/Bag.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandArthur.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandJdi.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandKonec.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandNápověda.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandPolož.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandPoužij.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandPromluv.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandPrůvodce.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandPředej.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandSeber.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandStart.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandVezmi.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/CommandZkratka.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/Condition.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/ConditionManager.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/Game.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/Main.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/Person.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/Place.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/README.html -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/ScenarioManager.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/Texts.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/Thing.java -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/mapa.png -text
Adventura115/src/cz/vse/_115/ut1245/xhudj19_hudec/package.bluej -text
Adventura115/src/cz/vse/package.bluej -text
